.hero_casa{
    height: 80vh;
    opacity: .90;
    background-image: url(../imagenes/casas/casa2/casas-ecoloÌgicas_apertura-hogar-sostenibilidad-certificado-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}