.hero_casa{
    height: 80vh;
    opacity: .90;
    background-image: url(../imagenes/casas/casa2/WhatsApp\ Image\ 2023-03-20\ at\ 20.16.35.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}