.hero_casa{
    height: 80vh;
    opacity: .90;
    background-image: url(../imagenes/casas/casa3/WhatsApp\ Image\ 2023-04-08\ at\ 14.58.43.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position-y: 30%;
}